{% extends 'base.html'%}
{% block title %}ABOUT{% endblock %}

{% block body %}

<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
<div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="dark" data-type="VERTICAL" data-vanity="alokknight" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://in.linkedin.com/in/alokknight?trk=profile-badge">Alok Patel</a></div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="icon-bar">
    <ul class="social-network social-circle">
                    {% comment %} <li><a href="#"><i class="fa fa-home fa-3x"></i></a></li>
                    <li><a href="#"><i class="fa fa-search fa-3x"></i></a></li>
                    <li><a href="#"><i class="fa fa-globe fa-3x"></i></a></li>
                    <li><a href="#"><i class="fa fa-trash fa-3x"></i></a></li>
                    <a target="_blank" href="/"><i class="fa fa-home fa-2x"></i></a>
                    <a target="_blank" href="mailto:alokpatel885@gmail.com"><i class="fa fa-envelope fa-2x"></i></a>
                    <a target="_blank" href="https://www.instagram.com/aalokknight" class="icoGoogle" title="Instagram"><i class="fa fa-instagram fa-2x"></i></a>
                    <a target="_blank" href="https://www.github.com/alokknight"><i class="fa fa-github fa-3x"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/in/alokknight" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin fa-2x"></i></a>
                    <a target="_blank" href="https://www.facebook.com/aalokknight" class="icoFacebook" title="Facebook"><i class="fa fa-facebook fa-2x"></i></a>
                    <a target="_blank" href="https://twitter.com/aalokknight" class="icoTwitter" title="Twitter"><i  class="fa fa-twitter fa-2x"></i></a>
                    <a target="_blank" href="https://www.youtube.com" class="icoRss" title="Youtube"><i class="fa fa-youtube fa-2x"></i></a>
                     {% endcomment %}

    </div>
    </ul>

{% endblock body %}