{% extends 'base.html'%}
{% block title %} HOME {% endblock title %}

{% load static %}
{% block body %}



<div class="container-fluid px-0">
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="./static/img/lko10.jpg" class="d-block w-100" height=500px width=200px alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Nature</h5>
        <p>There is super Peace in nature.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="./static/img/lion.jpg" class="d-block w-100" height=500px width=200px alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Why are you Sad, be <strong>CODING DAD</strong></p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="./static/img/pakka pul.jpg" class="d-block w-100" height=500px width=200px alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>TECHNOLOGY</h5>
        <p>BE HAPPY WITH YOURSELF.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div></div>


<div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for tur in turs %}
              <div class="col">
                <div class="card shadow-sm">
<!--                  <img src='./static/img/{{ tur.img }}' class="d-block w-100" alt="">
                  <img src="{{request.scheme}}://{{request.META.HTTP_HOST}}/static/img/{{ tur.img }}" class="d-block w-100" alt="">
-->
                  <img src="{{request.scheme}}://{{request.META.HTTP_HOST}}{% static "img" %}/{{ tur.img }}" class="d-block w-100" alt="" width="200" height="200">
                  <div class="card-body">
                    <p class="card-text">{{tur.name}}</p>
                    <p class="card-text">{{tur.desc}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                      </div>
                      <small class="text-muted">${{tur.price}}</small>
                      {% if tur.offer %}
                      <small class="text-muted">$200 off </small>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
      {% endfor %}
      </div>
</div>
{% endblock body %}