
<html>
<head>

<title>
RESUME
</title>

</head>

<body  bgcolor='#FFE4C4'>
<center><h1>RESUME:</h1></center>
<img src="alokDP.jpg" height=300px width=280px align=right>
<ul>
<h2>ALOK PATEL</h2>
<h5>Email::alokpatel885@gmail.com</h5>
<h3>Mobile no::7897867722</h3>
<h3>OBJECTIVE</h3>
<p>TO BE A DATA SCIENTIST</p>
<div style="overflow:auto">


<table border=5px yellow width=955 style="margin: 20px 20px 20px 20px ">
</ul>

<tr>
	<th>S.No.</th>
	<th>year </th>
	<th>qualification</th>
	<th>college/school/university</th>
	<th>PERCENTAGE</th>
</tr>
<tr>
	<th>2</th>
	<th>2019 </th>
	<th>btech</th>
	<th>MMMUT GKP</th>
	<th>pursing</th>
</tr>
<tr>
	<th>3</th>
	<th>2017 </th>
	<th>INTERMEDIATE</th>
	<th>JKGPSVM INTER COLLEGE</th>
	<th>90.4</th>
</tr>
<tr>
	<th>4</th>
	<th>2015</th>
	<th>HIGH SCHOOL</th>
	<th>JKGPSVM INTER COLLEGE</th>
	<th>87.5</th>
</tr>
</div>



<h3>Skills</h3>
<ul>
•	Machine Learning, OOPs,<br>
•	Programming Languages - Python, C++, C, Java(basic),<br>
•	Database - MYSQL, MongoDB,<br>
•	Web Development - Frontend: JavaScript, HTML, CSS, Bootstrap | Backend: Django,<br>
•	Development tools - Git, GitHub, VS code,<br>
•	Others – Problem Solving, Communication skill, Leadership &Team Work, Self-confidence.<br>
•	Main coursework: Data Structures, Design and analysis of Algorithms, Software Engineering, Computer Architecture,<br>Artificial Intelligence, Database Systems, Operating Systems, Computer network.<br>
</ul>
<h3>Projects</h3>
<ul>
<strong>Dynamic Website Coderpapa.org (Dec 2020 - PRESENT)</strong><br>
•	Tech Used: HTML, CSS, JS, Bootstrap, DJANGO, MongoDB, Python, Git.<br>
<strong>Car Price Prediction (Apr 2019 - May 2019)</strong><br>
•	Provide the predicted price of an old vehicle according to its age & fuel type etc.<br>
•	Tech Used: Machine learning, Django, Python,<br>
<strong>OpenCV Live Class Attendance, (June 2019- Sep 2019)</strong><br>
•	It takes live attendance of students at incoming time and outgoing time in excel sheet.<br>
•	Tech Used: Artificial Intelligence, Python, OpenCV,<br>
<strong>Hostel Management System (Oct 2018 - Dec 2018)</strong><br>
•	Only the admin can save and delete Students details using his password.<br>
•	Students can only see the details.<br>
•	Tech Used: C++, OPPs.<br>

</ul>
<h3>Strenths</h3>
	<ol>•	hardworking</ol>
	<ol>•	industrious</ol>
	<ol>•	practical</ol>
<h3>Weakness</h3>
<ul>•	Too kind and try to loyal to fucking people</ul>

<h3>Hobbies</h3>
	<ul>•	playing football</ul>
	<ul>•	chess</ul>
	<ul>•	reading novels</ul><br>
<h1><h1


</body>

</html>