{% extends 'base.html'%}
{% block title %} TUTORIALS{% endblock title %}
{% load static %}
<!--{% static "img" as baseurl %}-->
{% static "img"  as baseurl  %}
{% block body %}


<div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for tut in tuts %}
              <div class="col">
                <div class="card shadow-sm">
<!--                  <img src="{{request.scheme}}://{{request.META.HTTP_HOST}}/static/img/{{ tur.img }}" class="d-block w-100" alt="">-->
                  <img src="{{ tut.img.url }}" class="d-block w-100" alt=""width="200" height="200">
                  <div class="card-body">
                    <p class="card-text">{{tut.subject}}</p>
                    <p class="card-text">{{tut.desc}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                      </div>
                      <small class="text-muted">${{tut.price}}</small>
                      {% if tut.offer %}
                      <small class="text-muted">$50 offer </small>
                      {% endif %}
                      <small class="text-muted">{{tut.dis}}</small>

                    </div>
                  </div>
                </div>
              </div>
      {% endfor %}
      </div>
</div>
{% endblock body %}
<!--
https://source.unsplash.com/600x500/?nature,water
https://source.unsplash.com/600x500/?tablet,rose
https://source.unsplash.com/600x500/?lamp
-->